{% extends 'basic.html' %}
{%block title%}About{%endblock%}
{%block content%}


<div class="ab-container">
	<div class="ab-left" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">
		<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/static/image/portrait.jpg" alt="Card image cap">
		<div class="card-body">
    <h5 class="card-title">康 健</h5>
    <p class="card-text">个人介绍：懒 小透明 大龄音乐爱好者 神经质 假冒程序员.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">现居地: 哈尔滨</li>
    <li class="list-group-item">Email: laurelkang@163.com</li>
    <li class="list-group-item">Weibo: @放学楼顶Jian</li>
  </ul>
	</div>
	</div>
	<div class="ab-right">
		<div class="jumbotron jumbotron-fluid">
			<div class="container" id="abt-container">
				<h1 class="display-4">About Us</h1>
				<p class="lead" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;text-indent: 2em">
					当对完整版进行发布按下回车键的那一刻，我的内心毫无波动甚至还想笑.
					在这个AI和大数据横行的时代，在这个神经网络、CNN和RNN洋溢在Computer Science相关专业的各个角落的时代，本以为像Word Manual这样一个既简单又不粗暴的小玩意儿是不好意思提供给大家使用的. 然而我对Word Manual有着独特的宠爱. 
					Word Manual仿佛将我带回了初中年代，那些年我有一本<萧红中学>英语练习册(品牌已停售，非广告)，那时候英语课的放学作业时常是听写书中的生词并签字，对我而言这是除了罚写古诗词之外唯一需要团队合作的课后作业，致使一向不写作业的我不得不背书包，花费了很多不必要的体力，耽误了无数的看动画片时间，一度让我非常懊恼. Word Manual提供了单词整理和单词听写等功能，很大程度上能够为学英语背单词的群体带去方便.</p>
					<h3 class="display-6">关于 Word Manual</h3>
					<p class="lead" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;text-indent: 2em">Word Manual现阶段分为单词录入、听写本和单词查阅三个功能，均需登录后使用.<br>

					#单词录入#&nbsp&nbsp主要帮助有生词积累习惯的用户，将生词写在本上大概是十年前比较流行的做法，随着互联网的普及，这一切应该得到改善. Word Manual为每个用户建立个人词库，这一切都将通过单词录入模块输入到本系统中;<br>

					#听写本#&nbsp&nbsp系统会对用户听写此前录入的内容，单词的中文解释会随机产生，对于错误率比较高的生词，出现的频率会相应地大幅度增加，当然，Word Manual自身不具备词汇检测系统，系统判断的依据是用户在单词录入模块的输入，所以请确保输入正确.<br>

					#单词查阅#&nbsp&nbsp用户可以总览所有录入的单词和听写的成绩，如果您对我们的数据库不放心(开个玩笑，我们的数据库没问题的)，也可以通过打印机打印它们，便于离线使用和发现问题.<br>

					#BUG反馈#&nbsp&nbsp欢迎大家反馈关于Word Manual的任何使用问题或是改进意见，我都将在技术能力范围内予以高度重视随即认真修改.</p>
					<h3 class="display-6">关于我</h3>
					<p class="lead" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;text-indent: 2em">91年大龄非文艺男青年，本科毕业于吉林大学计算机科学与技术专业，硕士就读于东北林业大学信息与计算机工程专业，硕士研究智能交通方向，学术、工作或是技术交流，欢迎通过左侧Email与我联系；生活交流可关注我微博或是微博私信我，我也非常希望能和大家交朋友；此外，我曾于2017年创办了AliDo Group，偶尔会编写一些小玩意儿或是做一些小Projects，同样欢迎有兴趣的朋友加入我们.
				</p>
			</div>
		</div>
	</div>
</div>
{%endblock%}